@using TiendaVirtualCore.Web.ViewModels.Ciudad;
@model IEnumerable<CiudadListVm>
@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="row w-75">
        <div class="col-6">
            <h2>List of cities</h2>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="Ciudad" asp-action="Create" class="btn btn-primary">
                <i class="bi bi-plus-circle"></i> &nbsp;
                New City
            </a>
        </div>
    </div>
    <hr />

    <table class="table table-bordered table-striped w-75">
        <thead>
            <tr>
                <th style="width:30%">
                    <label asp-for="@Model.First().NombreCiudad"></label>
                </th>
                <th style="width:30%">
                    <label asp-for="@Model.First().NombrePais"></label>
                </th>
                <th style="width:40%">Actions</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Any())
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>@item.NombreCiudad</td>
                        <td>@item.NombrePais</td>
                        <td>
                            <a class="btn btn-warning" asp-controller="Ciudad" asp-action="Edit" asp-route-ciudadId="@item.CiudadId">
                                <i class="bi bi-pencil-square"></i>&nbsp;
                                Edit
                            </a>
                            <a class="btn btn-danger" asp-controller="Ciudad" asp-action="Delete" asp-route-ciudadId="@item.CiudadId">
                                <i class="bi bi-trash3"></i> &nbsp;
                                Delete  
                            </a>

                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="2">
                        No cities added yet
                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

